snippet des "describe('thing', function() { ... })" b
	describe('${1:}', () => {
		${0:${VISUAL}}
	});

snippet it "it('should', async () => { ... })" b
	it('should ${1:}', async () => {
		${0:${VISUAL}}
	});
